@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.checkoutContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.checkoutContainerTextField{
  height: 5rem;
  margin: 1rem;
  margin-bottom: 0rem;
  
}

.stepperStyle{
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 100%;
  
}
@media (max-width: 495px) {
  .stepperStyle{
      margin-top: 5rem;
      margin-bottom: 3rem;
      width: 70%; 
  }
  .btnsIndex{
      width: 60%;
  }
  .checkoutContainerTextFieldWrapper{
      width: 10rem;
  }
}

.gridFix{
  margin: 0rem;
  margin-top: 2rem;
  
}

.gridCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  margin:2rem;
  width:30rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cardDetailed{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.btnsIndex{
  display: flex;
  justify-content:space-between;
  width: 100%;
}

.centerBtnCheckout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  
}

.checkoutContainerTextFieldWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 70rem;
  ;
}

@media (max-width: 1133px) {
  .checkoutContainerTextFieldWrapper{
      width: 50rem;
  }
}
@media (max-width: 797px) {
  .checkoutContainerTextFieldWrapper{
      flex-direction: column;
      width: 30rem;
      height: 30rem;
  }
}

.checkoutv1{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
 
}

.cardCheckout{
  padding: 3rem;
}

.buyConfirmedTitle{
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  margin: 0rem;
  padding: 2rem;
  width: 100%;
}

.buyConfirmedWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.buyConfirmedData{
  display: flex;
  flex-direction: row;
  
}
.buyConfirmedData> div{
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}